@font-face {
    font-family:'Cartoon' ;
    src: url(/orange-juice/orange\ juice\ 2.0.ttf);
}
.logo{
font-family:'Cartoon';
box-sizing: border-box;
color: rgb(18, 1, 1);
font-weight: bold;
font-size: 40px;
}
nav{
background-color: white;
display: flex;
align-items: center;
justify-content: space-between;
height: 150px;
width: 1425px;
border-radius: 25px;
}
.container{
    display: grid;
   grid-gap: 10px;
}

nav ul li{
display: inline-block;  
padding: 10px 20px;

}
.div1{

}
.grid1{
display: grid;
background-color: white;
width: 200px;
height: 110px;
margin-top: 20px;
column-gap: 20px;
border-radius: 25px;
padding-left: 10px;

}
h2{
    font-family:'Cartoon';
}
body{
background-image:url(https://img.freepik.com/free-vector/cartoon-background-home-gym-with-window_1441-2776.jpg?w=2000);
background-size: cover;
background-repeat: no-repeat;

}
.grid2{
display: grid;
background-color: white;
width: 200px;
height: 140px;
margin-top: 20px;
column-gap: 20px;
border-radius: 25px;
padding-left: 10px;
padding-bottom: 10px;
}
.grid3{
    display: grid;
    background-color: white;
    width: 200px;
    height: 110px;
    margin-top: 20px ;
    column-gap: 20px;
    border-radius: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.grid4{
    display:grid;
    background-color: white;
    width: 200px;
    height: 110px;
    margin-top: 20px;
    column-gap: 20px;
    border-radius: 25px;
    padding-left: 10px;

}